body {
    color: black;
    display: inline-block;
    background-color: #355d75;
}

#root {
    width: 100%;
}

.main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 40px;
    margin-top: 80px;
}